{% extends "encyclopedia/layout.html" %}
{% load static %}
{% block title %}
    New Page
{% endblock %}

{% block body %}
<h1>Add New Wiki Page</h1>
<form action="{% url 'add' %}" method="post">
    {% csrf_token %}
    <label for="id_pagetitle" style="margin-top: 50px;">Page Title:</label>
    <input type="text" name="pagetitle" required="" id="id_pagetitle" style="margin-top: 50px;">
    <label for="id_pagecontent" style="display:block; margin-top: 50px;">Page Content:</label>
    <textarea name="pagecontent" cols="40" rows="10" required="" id="id_pagecontent" style="margin-bottom: 20px;"></textarea>
    <input type="submit" id="addpage" style="margin-right: 200px;"value="Create Page">
</form>
{% endblock %}
